


    body,td,th {
	color: #000;
}
body {
	  heigh:665px;
  background-image: URL("https://userscontent2.emaze.com/images/a47ab47d-17e7-4a80-a1a0-f0ae8bd9f4d8/438d7ababe3c7885b26ec54f1c11b13a.jpg");
  background-size: 80rem;
	margin-left: 3px;
	margin-top: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
	background-repeat:no-repeat;
	background-color: #0FF;